*{
    margin: 0;
}
body{
background-color: grey;
}
h1{
text-align: center;
background-color: orange;
font-size: 100px;
}
ul{
color:white;
padding-inline-start: 0;
display:flex;
justify-content: space-evenly;
font-size: 50px;
list-style-type: none;
}
a{
color: black;
text-decoration: none;
}
li a:hover{
    font-size: 70px;
    color: beige;
    transition: .5s;
}