*{
    margin: 0;
}
body{
background-color: grey;
}
h1{
text-align: center;
background-color: orange;
font-size: 100px;
  font-family: "Instrument Serif", serif;
}
ul{
color:white;
padding-inline-start: 0;
display:flex;
justify-content: space-evenly;
font-size: 25px;
list-style-type: none;
  font-family: "Instrument Serif", serif;
}
a{
color: black;
text-decoration: none;
}
li a:hover{
    font-size: 50px;
    color: beige;
    transition: .5s;
}
section {
background-image: url("../img/Tiger.jpg");
background-size: 100% 100%;
height: 400px;
display: flex;
justify-content: center;
align-items: center;
}
h2{
font-size: 200px;
color: rgb(0, 0, 0);
font-weight: bold;
text-shadow: 20px 20px #80080e;
  font-family: "Instrument Serif", serif;
}